body {
  font-size: 14px;
  color: #333;
  list-style: 26px;
}

pre {
  background: #333;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
}

pre.code {
  border-radius: 4px;
  border: 1px solid #292929;
  position: relative;
}

pre.code label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 0px;
  background: #ffeb00;
  color: #000000;
  position: absolute;
  left: 8px;
  top: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
}

pre.code code {
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  display: block;
  margin: 0 0 0 60px;
  padding: 15px;
  border-left: 1px solid #555;
  overflow-x: auto;
  font-size: 13px;
  line-height: 19px;
  color: #ddd;
}
pre.code-javascript code {
  color: #ffa726;
}